@model List<Winnosuke.Models.Service>
@{
    ViewData["Title"] = "Dịch vụ";
}

<h2>Dịch vụ hiện có</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="~/@item.image_url" class="card-img-top" />
                <div class="card-body">
                    <h5>@item.ServiceName</h5>
                    <p>@item.Description</p>
                    <p><strong>@item.Price.("N0") ₫</strong></p>
                </div>
            </div>
        </div>
    }
</div>
