@model Winnosuke.Models.Garage
<h2>Chi tiết Garage</h2>
<dl class="row">
    <dt class="col-sm-2">Tên</dt>
    <dd class="col-sm-10">@Model.Name</dd>
    <dt class="col-sm-2">Địa chỉ</dt>
    <dd class="col-sm-10">@Model.Address</dd>
    <dt class="col-sm-2">Mô tả</dt>
    <dd class="col-sm-10">@Model.Description</dd>
</dl>
<a asp-action="Index">Quay lại</a>